/* =============
    Typography
============= */

body{
    font-family: 'pavanam', sans-serif;
}

h1{
    font-family: 'londrina solid';
    color: $yellow;
    font-size: rem-calc(70);

}

h2{
    font-family: 'rubik';
    color: $light-green;
}

h3{
    font-family: 'pavanam';
}