/* =============
    Section 3
============= */
#section-3{
    margin-bottom: 40px;

    @include lg{
        margin-bottom: 80px;
    }

    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". s3 .";

    @include md{
        grid-template-columns: auto 80% auto;
    }

    >div{
        grid-area: s3;
        
        h1{
            text-align: center;
            font-size: rem-calc(35);
            margin: 40px 0px 10px 0px;

            @include md{
                margin-bottom: 22px;
            }

            @include lg{
                margin-top: 70px;
                margin-bottom: 30px;
            }

            @include xl{
                margin-top: 100px;
            }
        }

        #mockups{

            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". card1 ."
                                ". card2 ."
                                ". card3 .";
            grid-gap: 20px;

            @include md{
                grid-template-columns: repeat(4, 150px);
                grid-template-rows: 440px 440px;
                gap: 10px 10px;
                grid-template-areas: "card1 card1 card2 card2" 
                                    ". card3 card3 .";
                grid-gap: 30px;

               
            }

            @include lg{
                grid-template-columns: repeat(3, 360px);
                grid-template-rows: 530px;
                grid-template-areas: "card1 card2 card3";
            }

            @include xl{
                // margin-left: 100px;
                // margin-right: 100px;
            }
            

            li{
                background-color: $gray; 
                
                
                h2{
                    text-align: center;
                    font-size: rem-calc(24);
                    color: $black;
                    padding: 0px 20px;

                    @include lg{
                        font-size: rem-calc(29);
                    }
                }

                p{
                    text-align: left;
                    padding: 0px 20px;

                    @include lg{
                        font-size: rem-calc(19);
                        padding: 5px 20px;
                    }
                }
                
                @include md{
                    width: 300px;
                }

                @include lg{
                    width: 100%;
                }
                

                
            }

            #hanging-sign{
                grid-area: card1;
                

                #londoner-sign{
                    background-image: url('../img/londoner-sign.jpg');
                    background-position: center;
                    background-size: cover;
                    height: 200px;

                    @include lg{
                        height: 240px;
                    }
                }

                #date1{
                    padding: 10px 20px;
                    font-family: lato-bold;
                }
                
            }

            #biz-card{
                grid-area: card2;

                #biz-table{
                    background-image: url('../img/bizcard-table.jpg');
                    background-position: center;
                    background-size: cover;
                    height: 200px;

                    @include lg{
                        height: 240px;
                    }
                }

                #date2{
                    padding: 10px 20px;
                    font-family: lato-bold;
                }
            }

            #biz-card-2{
                grid-area: card3;

                #biz-stack{
                    background-image: url('../img/bizcard-stack.jpg');
                    background-position: center;
                    background-size: cover;
                    height: 200px;

                    @include lg{
                        height: 240px;
                    }
                }

                #date3{
                    padding: 10px 20px;
                    font-family: lato-bold;
                }

                
                
            }





        }


         
     }




}
 
         
 
 