/* =============
    Section 2
============= */
#section-2{
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "section-2-text section-2-image";
        grid-gap: 20px;
    
        section {
            grid-area: section-2-text;
        }

        aside {
            grid-area: section-2-image;
            img {
                width: 100%;
            }
        }
    }
}