/* =============
    Section 1
============= */

#section-1{
    div {
        background-image: url('../img/frog-hero.jpeg');
        background-size: cover;
        background-position: center;
        height: 370px;
        position: relative;

        @include md{
            height: 510px;
        } 

        @include lg{
            height: 680px;
        }

        @include xl{
            height: 900px;
        }

        h1{
            position: absolute;
            text-align: left;
            bottom: -10px;
            margin-left: 38px;

            @include md{
                margin-left: 90px;
                font-size: 110px;
            }

            @include lg{
                margin-left: 150px;
                bottom: 20px;
                font-size: 130px;
            }
        }

    
    }   
}