/* =============
    Section 4
============= */
#section-4{
    div {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-4 .";
        text-align: center;
        padding-top: 45px;
        padding-bottom: 45px;

        section {
            grid-area: section-4;

            hr{
                background-color: $black;
            }
        }


        @include md{
            grid-template-columns: auto 70% auto;
            font-size: rem-calc(20);
        }

        @include xl{
            grid-template-columns: auto 650px auto;
            font-size: rem-calc(25);
        }
    }
}