/* =============
    Section 5
============= */
#section-5{  

    @include lg{
        margin: 0 10px;

    }
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-5 .";
    }

    ul{
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(2, 300px);

        @include md{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 340px);
            grid-template-areas: "gallery-1 gallery-1"
                                "gallery-1 gallery-1"
                                "gallery-2 gallery-3";
        }

        @include xl{
            grid-area: section-5;
        }

        li{
            background-position: center;
            background-size: cover;
        }

        #gallery-1{
            background-image: url('../img/hangingfrog.jpeg');
            background-position-y: -100px;
            height: 300px;
            background-repeat: no-repeat;

            @include md {
                grid-area: gallery-1;
                height: 710px;
            }

            @include lg{
                height: 710px;
            }

        }

        #gallery-2{
            background-image: url('../img/frog-sideways.jpeg');
            height: 300px;

            @include md{
                grid-area: gallery-2;
                height: 340px;
            }

            @include lg{
                height: 340px;
            }
        }

        #gallery-3{
            background-image: url('../img/froglooking.jpeg');
            height: 300px;

            @include md {
                grid-area: gallery-3;
                height: 340px;
            }

            @include lg{
                height: 340px;
            }

        }


    }

}