/* =============
    Footer
============= */
#footer{
    background-color: $black;
    color: $white;
    padding: 50px 80px;
    text-align: center;

    @include lg{
        text-align: right;
    }

    span{
        color: $red;
    }

   #social-icons{
        display: flex;
        justify-content: center;


        #fb, #ig, #tw, #yt{
            margin: 10px 10px;
        }

        @include lg{
            justify-content: start;
        }
   }








}