/* =============
    Header
============= */
header {
    background-color: $yellow;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
                            "nav nav";
        grid-template-columns: 80% auto;
 
        section,
        nav {
            padding: 10px;
        }

        section{
            h1{
                color: $white;
                font-size: 20px;
            }
        }

        #logo-container {
            grid-area: logo;
            padding-left: 20px;

            a:link,
            a:visited{
                color: $white;
                font-size: rem-calc(20);
                padding: 10px 10px;
                text-decoration: none;
            } 
            
            a:hover,
            a:active{
                color: $light-green;
            }
            
        }
        #burger-container {
            color: $white;
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;

            @include lg {
                display: none !important;
            }
            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $light-green;
            grid-area: nav;
            display: none;
            padding: 20px;

            @include lg {
                display: block !important;
            }
        }


    }
}
